// +----------------------------------------------------------------------+
// | @describe 转回/转入
// +----------------------------------------------------------------------+
// | Copyright (c) 2015-2019 CN,  All rights reserved.
// +----------------------------------------------------------------------+
// | @Authors: The PHP Dev LiuManMan, Web, <liumansky@126.com>.
// | @Script:
// | @date     2019-04-15 16:14:32
// +----------------------------------------------------------------------+
{
    "HEADER":{
        "prefix": "doc-header",
        "body": [
			"// +----------------------------------------------------------------------+",
			"// | @describe:",
			"// +----------------------------------------------------------------------+",
			"// | Copyright (c) 2015-$CURRENT_YEAR CN,  All rights reserved.",
			"// +----------------------------------------------------------------------+",
			"// | @Authors: The PHP Dev LiuManMan, Web, <liumansky@126.com>.",
			"// | @Script:",
			"// | @date:    $CURRENT_YEAR/$CURRENT_MONTH/$CURRENT_DATE $CURRENT_HOUR:$CURRENT_MINUTE:$CURRENT_SECOND",
			"// +----------------------------------------------------------------------+"
            "",
            ""
    	],
    }
}